PORT=3000
REACT_APP_BASEDAO_DOCKERISED_URL=http://localhost:8000/steps
REACT_APP_CORS_PROXY_URL=http://localhost:8001
REACT_APP_DAO_DEPLOYER_API=http://localhost:3001
REACT_APP_ENV=DEV
REACT_APP_HASURA_ADMIN_SECRET=your_hasura_admin_secret_here
REACT_APP_HASURA_ADMIN_SECRET_V2=your_hasura_admin_secret_v2_here
REACT_APP_HASURA_URL=http://localhost:8080/v1/graphql
REACT_APP_HASURA_URL_V2=http://localhost:8081/v1/graphql
REACT_APP_LAUNCH_DARKLY_SDK_DEV=your_launch_darkly_sdk_key_here

REACT_APP_MIXPANEL_DEBUG_ENABLED=false
REACT_APP_MIXPANEL_TOKEN=your_mixpanel_token_here
REACT_APP_NETWORK=development
REACT_APP_URL=http://localhost:3000
REACT_APP_V2_URL=http://localhost:3002
REACT_APP_IS_NOT_TESTING=false

REACT_APP_LAUNCH_DARKLY_SDK_PROD=your_launch_darkly_prod_key_here
REACT_APP_IGNORE_DAO_CYCLE_CHECK=false
REACT_APP_PROPOSAL_WEBHOOK_URL=http://localhost:8002/webhook